<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz Questions</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Quiz Questions</h2>
    <div id="quiz-container"></div>

    <script>
        $(document).ready(function () {
            // Make an AJAX call to fetch quiz questions
            $.ajax({
                url: "/api/quiz/questions",
                method: "GET",
                success: function (data) {
                    // Iterate over each question and add it to the page
                    data.forEach(function (question) {
                        let questionHtml = '<div>';
                        questionHtml += '<p><b>' + question.question + '</b></p>';
                        questionHtml += '<ul>';
                        question.options.forEach(function (option) {
                            questionHtml += '<li>' + option + '</li>';
                        });
                        questionHtml += '</ul>';
                        questionHtml += '</div>';
                        
                        // Append question to the container
                        $("#quiz-container").append(questionHtml);
                    });
                },
                error: function () {
                    $("#quiz-container").append('<p>Unable to load quiz questions. Please try again later.</p>');
                }
            });
        });
    </script>
</body>
</html>
